* {
    margin: Opx;
    padding: Opx;
    box-sizing: border-box;
    }
    
nav {
      display: flex;
      justify-content: space-around; 
      align-items: center; 
      height: 8vh; 
      background-color: darkgreen;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.logo{
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.navLinks{ 
      display: flex;
      justify-content: space-around;
      width: 30%;
    }
    
.navLinks li{
      list-style: none;
    }
    
.navLinks a { 
      color: whitesmoke; 
      text-decoration: none; 
      letter-spacing: 3px; 
      font-weight: bold; 
      font-size: 14px;
    }

.burger{
     display: none;
     cursor: pointer;
  }

.burger div { 
      width: 25px;
      height: 2px;
      background-color: whitesmoke;
      margin: 5px;
    }

@media screen and (max-width:1024px){
  .navLinks{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body{

  }
  .navLinks{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navLinks li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(0px);
    
  }
}